* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#happy-bday {
  width: 100vw;
  height: 100vh;
  font-size: 250px;
  font-family: sans-serif;
  letter-spacing: 3px;
  position: fixed;
  top: 0;
  left: 0;
  color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  padding: 0 5rem;
}

#filter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: blueviolet;
  mix-blend-mode: exclusion;
}
